[submodule "boom"]
	path = boom
	url = https://github.com/boom-astro/boom.git
[submodule "kowalski"]
	path = kowalski
	url = https://github.com/petebachant/kowalski.git
[submodule "fix-seed-data/boom"]
	path = fix-seed-data/boom
	url = https://github.com/boom-astro/boom.git
