/boom
/kowalski
/boom-na=3-nml=3-nf=1
/boom-na=3-nml=6-nf=1
/boom-na=3-nml=9-nf=1
/kowalski-n=6
/kowalski-n=3
/kowalski-n=9
/kowalski-n=7
/boom-na=6-nml=3-nf=1
/boom-na=6-nml=3-nf=3
/boom-na=6-nml=6-nf=1
/boom-na=6-nml=6-nf=3
/boom-na=6-nml=9-nf=1
/boom-na=6-nml=9-nf=3
/kowalski-n=12
/kowalski-n=15
/boom-na=1-nml=3-nf=1
/boom-na=1-nml=6-nf=3
/boom-na=1-nml=3-nf=3
/boom-na=3-nml=6-nf=3
/boom-na=3-nml=3-nf=3
/boom-na=1-nml=6-nf=1
/boom-na=3-nml=9-nf=3
/boom-na=1-nml=9-nf=3
/boom-na=1-nml=9-nf=1
/boom-na=4-nml=6-nf=1
/boom-na=5-nml=8-nf=1
/boom-na=6-nml=10-nf=1
/boom-na=7-nml=11-nf=1
/boom-na=8-nml=13-nf=1
/boom-na=9-nml=15-nf=1
/boom-na=1-nml=1-nf=1
/boom-na=1-nml=2-nf=1
/boom-na=2-nml=2-nf=1
/boom-na=3-nml=4-nf=1
/boom-na=4-nml=7-nf=1
/boom-na=5-nml=5-nf=1
/boom-na=9-nml=14-nf=2
/kowalski-n=20
/kowalski-n=25
