name: kowalski-boom-benchmarking`

networks:
  kowalski:

volumes:
  mongodb:
  kafka_data:

services:
  mongo:
    image: kowalski-mongo
    build:
      context: ${PWD}/kowalski
      dockerfile: mongo.Dockerfile
      pull: false
    hostname: mongo
    expose:
      - "27017"
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=mongoadminsecret
      - MONGO_REPLICA_SET_NAME=rs0
    restart: always
    networks:
      - kowalski
    healthcheck:
      test: test $$(echo "rs.initiate().ok || rs.status().ok" | mongo -u $${MONGO_INITDB_ROOT_USERNAME} -p $${MONGO_INITDB_ROOT_PASSWORD} --quiet) -eq 1
      interval: 10s
      start_period: 20s
    # run as a replica set of size 1 called rs0 using keyfile for internal authorization
    command: [ "--keyFile", "/opt/keyfile", "--replSet", "rs0", "--bind_ip_all" ]
    mem_limit: 4GB
    volumes:
      - mongodb:/data/db
  mongo-init:
    image: mongo:8.0
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - kowalski
    volumes:
      - ${PWD}/scripts/mongo-init.sh:/mongo-init.sh
      - ${PWD}/data/kowalski.NED.json.gz:/kowalski.NED.json.gz
      - ${PWD}/config/kowalski/cats150.kowalski.json:/cats150.kowalski.json
    environment:
      - DB_NAME=kowalski
      - DB_ADD_URI=&replicaSet=rs0
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=mongoadminsecret
    entrypoint: ["/bin/bash", "/mongo-init.sh"]
  broker:
    image: apache/kafka:latest
    hostname: broker
    ports:
      - 9092:9092
    networks:
      - kowalski
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      KAFKA_NUM_PARTITIONS: 15
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: /opt/kafka/bin/kafka-cluster.sh cluster-id --bootstrap-server broker:9092
      interval: 10s
  producer:
    image: boom/boom-benchmarking:latest
    hostname: producer
    build:
      dockerfile: ${PWD}/Dockerfile-boom
      context: ${PWD}
      pull: false
    command:
      - /app/kafka_producer
      - ztf
      - "20250311"
      - public
      - --server-url
      - broker:29092
    networks:
      - kowalski
    depends_on:
      broker:
        condition: service_healthy
    # Mount local data directory so we don't need to redownload
    volumes:
      - ${PWD}/data/alerts:/app/data/alerts
      - ${PWD}/config/boom/config.yaml:/app/config.yaml
  ingester:
    build:
      context: ${PWD}/kowalski
      dockerfile: ingester.Dockerfile
      pull: false
    image: kowalski-boom-benchmarking
    ports:
      - "8787:8787"
    volumes:
      - ${PWD}/logs/kowalski:/kowalski/logs
      - ${PWD}/config/kowalski/config.yaml:/kowalski/config.yaml
      - ${PWD}/config/kowalski/supervisord.conf:/kowalski/conf/supervisord_ingester.conf
    restart: always
    depends_on:
      mongo-init:
        condition: service_completed_successfully
      producer:
        condition: service_completed_successfully
      broker:
        condition: service_healthy
    command:
      - /bin/bash
      - -c
      - "source env/bin/activate && make init_models && PYTHONPATH=. python -m supervisor.supervisord -n -c conf/supervisord_ingester.conf"
    networks:
      - kowalski
    mem_limit: 24GB
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
