name: kowalski-boom-benchmarking`

networks:
  kowalski:

services:
  mongo:
    image: kowalski-mongo
    build:
      context: ${PWD}/kowalski
      dockerfile: mongo.Dockerfile
      pull: false
    hostname: mongo
    expose:
      - "27017"
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=mongoadminsecret
      - MONGO_REPLICA_SET_NAME=rs0
    restart: always
    networks:
      - kowalski
    healthcheck:
      test: test $$(echo "rs.initiate().ok || rs.status().ok" | mongo -u $${MONGO_INITDB_ROOT_USERNAME} -p $${MONGO_INITDB_ROOT_PASSWORD} --quiet) -eq 1
      interval: 10s
      start_period: 20s
    # run as a replica set of size 1 called rs0 using keyfile for internal authorization
    command: [ "--keyFile", "/opt/keyfile", "--replSet", "rs0", "--bind_ip_all" ]
  # TODO: Add Kafka and Kafka producer
  ingester:
    build:
      context: ${PWD}/kowalski
      dockerfile: ingester.Dockerfile
    image: kowalski-boom-benchmarking
    ports:
      - "8787:8787"
    volumes:
      - ${PWD}/logs/kowalski:/kowalski/logs
      - ${PWD}/config/kowalski/config.yaml:/kowalski/config.yaml
    links:
      - mongo:kowalski-mongo
    restart: always
    depends_on:
      - mongo
    networks:
      - kowalski
